body {
    text-align: center;
    background-color: #3E3E70;
    color: white;
    font-family: calibri, arial;
  }
  
  #form-div {
    background-color: midnightblue;
    width: 600px;
    margin: auto;
    padding: 1px 25px 20px 25px;
    border-radius: 5px;
  }
  
  #title{
    margin-bottom: 5px;
  }
  
  #description{
    margin-top: 5px;
  }
  
  #name-label, 
  #email-label, 
  #number-label, 
  #dropdown-label, 
  #radio-label, 
  #check-label, 
  #text-label {
    display: block;
    text-align: left;
    font-size: 18;
  }
  
  #name, 
  #email, 
  #number, 
  #dropdown {
    height: 30px;
    width: 600px;
    margin: 2px 0px 20px 0px;
    border-radius: 5px;
    border: 0px;
    font-size: 14;
  }
  
  #text {
    height: 80px;
    width: 600px;
    margin: 2px 0px 20px 0px;
    font-size: 14;
  }
  
  #radio-div, 
  #check-div {
    text-align: left;
    margin: 2px 200px 20px 0px;
  }
  
  #submit {
    height: 30px;
    width: 300px;
    font-weight: bold;
  }
